################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/parser/.vs/
/parser/bin/
/parser/obj/
